In [1]:
#Print Hello world!
print("Hello World")

Hello World

In [3]:
#Print 5 adjacent Stars in Single Line using 5 print statements.
print("*****")

*****

In [3]:
#Print the Nos 1 to 5 at screen with a gap of two lines in between using 5 print 
#statements.

print("1",end="\n\n")
print("2",end="\n\n")
print("3",end="\n\n")
print("4",end="\n\n")
print("5",end="\n\n")

1

2

3

4

5

In [20]:
#Print 5 space separated stars in Single line using 5 print statement.
print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print("*", end=" ")
print("*", end=" ")

* * * * *

In [6]:
#Take two inputs from the user and check their data types
N=input("Enter your name:")
print(type(N))

A=input("Enter your age:")

print(type(A))

Enter your name:Aakriti Garg
<class 'str'>
Enter your age:35
<class 'str'>

In [5]:
#Add Two float Numbers input by user.
Num1=float(input("enter 1st number:"))


Num2=float(input("enter 2nd number:"))

Sum=Num1+Num2
print(Sum)

enter 1st number:55
enter 2nd number:63.5
118.5

In [12]:
a=2 
b=3
c=4
d=5 
e=6
f=7
print(a,b,c,d,e,f,sep="cetpa",end="*")

2cetpa3cetpa4cetpa5cetpa6cetpa7*

In [16]:
a=2 
b=3
c=4
d=5 
e=6
f=7
print(a,b,c,sep="#",end="abc")
print(sep="\n")
print(d,e,f,sep="\n")

2#3#4abc
5
6
7

In [17]:
a=2 
b=3
c=4
d=5 
e=6
f=7
print(a,b,sep="#")
print(c,d,sep="\t\t\t",end="\n\n\n")
print(e,f)

2#3
4			5


6 7

In [20]:
a=2 
b=3
c=4
d=5 
e=6
f=7
print(a,b,c)
print(d,sep="cetpa")
print(e,f,end="CETPA")

2 3 4
5
7cetpa6
6 7CETPA

In [21]:
a=2 
b=3
c=4
d=5 
e=6
f=7
print(a,b,c,sep="",end="456")
print(d,end="")
print(e,f,sep="$")

23445656$7

In [22]:
a=2 
b=3
c=4
d=5 
e=6
f=7
print(a,b,c,sep="5",end="\t\t\t")
print()
print(d)
print(e,f,sep="",end="")

25354
5
67